/* Selector universal */
*{
    background-color: whitesmoke;
    font-family: Verdana;
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Selectores de etiqueta */

h1{
    color: white;
    background-color: lightblue;
    padding: 10px;
}
h2{
    color: green;
    background-color: gray;
    margin-left: 20px;
}
p{
    background-color: black;
    font-family: Arial;
    font-size: 18px;
}
a{
    padding: 0px;
    margin: 1px;
    background-color: violet;
    align-items: center;
    display: flex;
}
img{
    padding: 0px;
}

/*Selectores de clase*/
.padre{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-flow: column nowrap;*/
}
    .header {
        background: gray;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /*flex-flow: column nowrap;*/
    } 
        .menu{
            background: orangered;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            /* flex-flow: column wrap; */
            height: 100px;
        }
            .logo{
                width: 15%;
                background: coral;
                flex: 1 1 auto;
                flex-wrap: nowrap;
               
            }
            .nav{
                background: coral;
                flex: 5 1 auto;
                height: 30px;

            }
            .social{
                background: coral;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background: green;
        }
            h1{
                background: greenyellow;
            }
    .section{
        background: gray;
        display: flex;
    }
        .articulos{
            background:purple;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: red;
                flex: 1 1 40%;
                flex-direction: column;
                justify-content: center;
            }
            .bebida{
                padding: 0%;
                margin: 0%;
                flex: 1 1 auto;
                display: grid;
                flex-direction: column;
                justify-content: center;
            }
            .navegacion{
                background: lightblue;
                flex: 1 1 100%;
            }
        .aside{
            background: pink;
            flex: 1 1 auto;
        }
            .publicidad{
                background:lightseagreen;
            }
    .footer {
        background: gray;
        display: flex;
        justify-content: center;
    }
        .pie{
            background:limegreen;
            display: flex;
            width: 300px;
            flex: 1 1 auto;
            justify-content: center;
        }
.contact{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Contacto     */
.container {
	font-family: 'Oswald',sans-serif;
  width: 600px;
  height: auto;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Oswald", sans-serif; }

#contact {
  width: auto;
  height: auto;
	background:#01060c;
	padding: 40px;
}

#contact h3 {
	color: #a4bbd1;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

.mensaje {
	margin:5px 0 15px;
	display:block;
	font-size:15px;
  color: #CCC;  
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:40%;
	border:none;
	background:#04294B;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:rgb(132, 140, 143);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

@media all and (max-width: 800px){
/*El aside debe pasar hacia abajo*/
    .section{
        flex-direction: column;
    }
/*Los elementos del menu deben mostrarse uno debajo del otro*/
    .menu{
        flex-direction: column;
        height: auto;
    }
/*Los elementos del aside se deben mostrar uno al lado del otro*/
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
 #
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}